/* Taustaväri */
body   
 {
    background-color: lightblue;  
 }
/*Vähän väliä hauttujen tietojen jälkeen*/
#haetutTiedot{
    margin-bottom: 25px;
}
/*Vähän väliä arvostelun antamisen jälkeen*/
#sinunArvostelusi
{
    margin-bottom: 25px;
}
/*Järjestys logiikan valinnan näyttämisen muotoilu*/
#jarjestaminen
{
    background-color: white;
    display: table;
}
.jarjestaja
{
    display: table-cell;
    float: left;
    margin-left: 25px;
}

/*Posterin koko haetuissa tiedoissa*/
.kuva
{
    width: 150px;
    height: 222.5px;
}
